.panel-container {
    display: flex;
    flex-direction: row;
    // overflow: hidden;
    /* avoid browser level touch actions */
    xtouch-action: none;
    height: 100%;
}

.split-btn .fa-times {
    color: #fff;
}

.split-btn-vertical .fa-times {
    color: #fff;
}

.page-con {
    height: auto;
    font-size: 20px;
    color: #000;
    font-weight: 600px;
    font-variant: 20px;
}

.page-modiniger {
    height: 30px;
}

.panel-left {
    flex: 0 0 auto;
    /* only manually resize */
    padding: 0px;
    width: 100%;
    min-height: 200px;
    min-width: 150px;
    /* background: #25c5da; */
    color: white;
}

.split-btn {
    float: right;
    margin-bottom: 0px;
    display: block;
    margin-right: 0px;
    position: absolute;
    background: #07757f;
    right: 2px;
    padding: 9px 15px;
    z-index: 555;
    border-radius: 20px;
    box-shadow: 0px 1px 17px 3px #a0a0a0;
    top: 70px;
}

.splitter-wrapper {
    margin: 0px 0px 30px;
    height: calc(100vh - 130px);
}

.splitter {
    flex: 0 0 auto;
    width: 20px;
    background: #e9e9e9 !important;
    min-height: 200px;
    cursor: col-resize;
}

.panel-right {
    flex: 1 1 auto;
    /* resizable */
    /*padding: 10px;*/
    width: 100%;
    min-height: 200px;
    background: #eee;
}

.split-btn-vertical {
    float: left;
    margin-right: 0px;
    position: absolute;
    bottom:5px;
    z-index: 1;
    background: #07757f;
    padding: 9px 15px;
    border-radius: 32px;
    box-shadow: 0px 1px 17px 3px #a0a0a0;
    margin-left: 4px;
}

.refresh {
    float: right;
}

.sidebar-collapse .refresh {
    float: left;
    padding: 0 35%;
}

.split-vertical {
    float: right;
    margin-right: 0px;
}

.split-btn-new {
    position: relative;
    top: 5px;
}

/* vertical panel */

.page-container {
    margin: 20px;
}

.panel-container-vertical {
    display: flex;
    flex-direction: column;
    height: 450px;
    // border: 1px solid silver;
    overflow: hidden;
    height: 100%;
}

.panel-top {
    flex: 0 0 auto;
    /* only manually resize */
    padding: 0px;
    height: 150px;
    width: 100%;
    white-space: nowrap;
    /*background: #25c5da;*/
    color: white;
    height: 450px;
    width: 100% !important;
}

.panel-bottom {
    flex: 0 0 auto;
    height: 150px;
    width: 100%;
    white-space: nowrap;
    color: white;
    height: 717px;
}

.splitter-horizontal {
    flex: 0 0 auto;
    height: 20px;
    background: #e9e9e9 !important;
    // background: url(../img/hsizegrip.png) center center no-repeat #25c5da;
    cursor: row-resize;
}

.panel-left-inner {
    width: 100%;
    height: 100%;
}

.panel-right-inner {
    width: 100%;
    height: 100%;
}

.panel-left-inner iframe {
    width: 100%;
    height: 100%;
    border: 0px;
}

.panel-right-inner iframe {
    width: 100%;
    height: 100%;
    border: 0px;
}