.enableExpandCollapse {
    .navbar {

        >.container .navbar-brand,
        >.container-fluid .navbar-brand {
            margin-left: 20px;
        }
    }

    &.overlay-open {
        section.content {
            margin: 100px 15px 0 315px;
            @include transition(0.5s);
        }
    }

    .bars:after {
        content: '\E5D2';
    }
}