﻿.search-bar {
    position: fixed;
    top: -100px;
    left: 0;
    z-index: 9999999;
    width: 100%;
    // background-color: #607d8b;
    // background-color: white;
    background-color: rgba(96, 125, 139, 0.8);
    @include transition(.25s);

    &.open {
        top: 0;
    }

    .search-icon {
        position: absolute;
        cursor: pointer;
        top: 16px;
        left: 10px;

        background-color: #ecf1f3;
        // background-color: rgba(0, 0, 0, 0.075);
        padding: 7px;
        border-radius: 50px;
        height: 38px;
        width: 38px;


        .material-icons {
            // font-size: 32px;
            color: #999;
        }
    }

    .close-search {
        position: absolute;
        cursor: pointer;
        // font-size: 30px;
        top: 24px;
        right: 18px;

        .material-icons {
            color: #999;
            opacity: 1;
            @include transition(.5s);

            &:hover {
                opacity: .5;
            }
        }
    }


    /*
    
        .close-search, .search-options {
        position: absolute;
        cursor: pointer;
        // font-size: 30px;
        top: 24px;
        right: 30px;

        &.material-icons, .material-icons {
            color: #999;
            opacity: 1;
            @include transition(.5s);

            &:hover {
                opacity: .5;
            }
        }
    }

    .search-options{
        // top: 20px;
        right: 5px;
    }
    
    */

    input[type="text"] {
        width: 100%;
        // max-width: 767px;
        font-size: 16px;
        padding: 25px 60px 23px 56px;
        border: none;
    }

    .search-bar-wrapper {
        position: relative;
        width: 100%;
        max-width: 767px;
        margin: 0px auto;
        // transform: translate(-50%);
        // left: 50%;
    }
}