.navbar{
    right: 0;
    left: auto;
}

.navbar .navbar-custom-right-menu{
    float: left;
}

.navbar .navbar-toggle{
    margin-left: 17px;
    margin-right: auto;
}

.ls-closed .sidebar{
    margin-right: -300px;
    margin-left: auto;
}

.ls-closed section.content{
    margin-right: 15px;
    margin-left: auto;
}

.ls-closed .bars:after, .ls-closed .bars:before{
    right: 20px;
    left: auto;
    margin-left: 10px;
    margin-right: auto;
}

.ls-closed .navbar-brand{
    margin-right: 30px;
    margin-left: auto;
}

.navbar-header .bars{
    float: right;
}

.navbar-nav > li > a{
    padding: 7px 7px 2px 7px ;
    margin-right: 5px;
    margin-left: auto;
}

.label-count{
    left: 6px;
    right: auto;
}

.col-red .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-pink .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-purple .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-deep-purple .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-indigo .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-blue .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-light-blue .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-cyan .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-teal .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-green .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-light-green .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-lime .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-yellow .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-amber .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-orange .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-deep-orange .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-brown .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-grey .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-blue-grey .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-black .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.col-white .navbar .bars{
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.m-l--125{
    margin-right: -125px;
    margin-left: auto;
}

.m-r--125{
    margin-left: -125px;
    margin-right: auto;
}

.m-l--120{
    margin-right: -120px;
    margin-left: auto;
}

.m-r--120{
    margin-left: -120px;
    margin-right: auto;
}

.m-l--115{
    margin-right: -115px;
    margin-left: auto;
}

.m-r--115{
    margin-left: -115px;
    margin-right: auto;
}

.m-l--110{
    margin-right: -110px;
    margin-left: auto;
}

.m-r--110{
    margin-left: -110px;
    margin-right: auto;
}

.m-l--105{
    margin-right: -105px;
    margin-left: auto;
}

.m-r--105{
    margin-left: -105px;
    margin-right: auto;
}

.m-l--100{
    margin-right: -100px;
    margin-left: auto;
}

.m-r--100{
    margin-left: -100px;
    margin-right: auto;
}

.m-l--95{
    margin-right: -95px;
    margin-left: auto;
}

.m-r--95{
    margin-left: -95px;
    margin-right: auto;
}

.m-l--90{
    margin-right: -90px;
    margin-left: auto;
}

.m-r--90{
    margin-left: -90px;
    margin-right: auto;
}

.m-l--85{
    margin-right: -85px;
    margin-left: auto;
}

.m-r--85{
    margin-left: -85px;
    margin-right: auto;
}

.m-l--80{
    margin-right: -80px;
    margin-left: auto;
}

.m-r--80{
    margin-left: -80px;
    margin-right: auto;
}

.m-l--75{
    margin-right: -75px;
    margin-left: auto;
}

.m-r--75{
    margin-left: -75px;
    margin-right: auto;
}

.m-l--70{
    margin-right: -70px;
    margin-left: auto;
}

.m-r--70{
    margin-left: -70px;
    margin-right: auto;
}

.m-l--65{
    margin-right: -65px;
    margin-left: auto;
}

.m-r--65{
    margin-left: -65px;
    margin-right: auto;
}

.m-l--60{
    margin-right: -60px;
    margin-left: auto;
}

.m-r--60{
    margin-left: -60px;
    margin-right: auto;
}

.m-l--55{
    margin-right: -55px;
    margin-left: auto;
}

.m-r--55{
    margin-left: -55px;
    margin-right: auto;
}

.m-l--50{
    margin-right: -50px;
    margin-left: auto;
}

.m-r--50{
    margin-left: -50px;
    margin-right: auto;
}

.m-l--45{
    margin-right: -45px;
    margin-left: auto;
}

.m-r--45{
    margin-left: -45px;
    margin-right: auto;
}

.m-l--40{
    margin-right: -40px;
    margin-left: auto;
}

.m-r--40{
    margin-left: -40px;
    margin-right: auto;
}

.m-l--35{
    margin-right: -35px;
    margin-left: auto;
}

.m-r--35{
    margin-left: -35px;
    margin-right: auto;
}

.m-l--30{
    margin-right: -30px;
    margin-left: auto;
}

.m-r--30{
    margin-left: -30px;
    margin-right: auto;
}

.m-l--25{
    margin-right: -25px;
    margin-left: auto;
}

.m-r--25{
    margin-left: -25px;
    margin-right: auto;
}

.m-l--20{
    margin-right: -20px;
    margin-left: auto;
}

.m-r--20{
    margin-left: -20px;
    margin-right: auto;
}

.m-l--15{
    margin-right: -15px;
    margin-left: auto;
}

.m-r--15{
    margin-left: -15px;
    margin-right: auto;
}

.m-l--10{
    margin-right: -10px;
    margin-left: auto;
}

.m-r--10{
    margin-left: -10px;
    margin-right: auto;
}

.m-l--5{
    margin-right: -5px;
    margin-left: auto;
}

.m-r--5{
    margin-left: -5px;
    margin-right: auto;
}

.m-l-0{
    margin-right: 0px;
}

.m-r-0{
    margin-left: 0px;
}

.m-l-5{
    margin-right: 5px;
    margin-left: auto;
}

.m-r-5{
    margin-left: 5px;
    margin-right: auto;
}

.m-l-10{
    margin-right: 10px;
    margin-left: auto;
}

.m-r-10{
    margin-left: 10px;
    margin-right: auto;
}

.m-l-15{
    margin-right: 15px;
    margin-left: auto;
}

.m-r-15{
    margin-left: 15px;
    margin-right: auto;
}

.m-l-20{
    margin-right: 20px;
    margin-left: auto;
}

.m-r-20{
    margin-left: 20px;
    margin-right: auto;
}

.m-l-25{
    margin-right: 25px;
    margin-left: auto;
}

.m-r-25{
    margin-left: 25px;
    margin-right: auto;
}

.m-l-30{
    margin-right: 30px;
    margin-left: auto;
}

.m-r-30{
    margin-left: 30px;
    margin-right: auto;
}

.m-l-35{
    margin-right: 35px;
    margin-left: auto;
}

.m-r-35{
    margin-left: 35px;
    margin-right: auto;
}

.m-l-40{
    margin-right: 40px;
    margin-left: auto;
}

.m-r-40{
    margin-left: 40px;
    margin-right: auto;
}

.m-l-45{
    margin-right: 45px;
    margin-left: auto;
}

.m-r-45{
    margin-left: 45px;
    margin-right: auto;
}

.m-l-50{
    margin-right: 50px;
    margin-left: auto;
}

.m-r-50{
    margin-left: 50px;
    margin-right: auto;
}

.m-l-55{
    margin-right: 55px;
    margin-left: auto;
}

.m-r-55{
    margin-left: 55px;
    margin-right: auto;
}

.m-l-60{
    margin-right: 60px;
    margin-left: auto;
}

.m-r-60{
    margin-left: 60px;
    margin-right: auto;
}

.m-l-65{
    margin-right: 65px;
    margin-left: auto;
}

.m-r-65{
    margin-left: 65px;
    margin-right: auto;
}

.m-l-70{
    margin-right: 70px;
    margin-left: auto;
}

.m-r-70{
    margin-left: 70px;
    margin-right: auto;
}

.m-l-75{
    margin-right: 75px;
    margin-left: auto;
}

.m-r-75{
    margin-left: 75px;
    margin-right: auto;
}

.m-l-80{
    margin-right: 80px;
    margin-left: auto;
}

.m-r-80{
    margin-left: 80px;
    margin-right: auto;
}

.m-l-85{
    margin-right: 85px;
    margin-left: auto;
}

.m-r-85{
    margin-left: 85px;
    margin-right: auto;
}

.m-l-90{
    margin-right: 90px;
    margin-left: auto;
}

.m-r-90{
    margin-left: 90px;
    margin-right: auto;
}

.m-l-95{
    margin-right: 95px;
    margin-left: auto;
}

.m-r-95{
    margin-left: 95px;
    margin-right: auto;
}

.m-l-100{
    margin-right: 100px;
    margin-left: auto;
}

.m-r-100{
    margin-left: 100px;
    margin-right: auto;
}

.m-l-105{
    margin-right: 105px;
    margin-left: auto;
}

.m-r-105{
    margin-left: 105px;
    margin-right: auto;
}

.m-l-110{
    margin-right: 110px;
    margin-left: auto;
}

.m-r-110{
    margin-left: 110px;
    margin-right: auto;
}

.m-l-115{
    margin-right: 115px;
    margin-left: auto;
}

.m-r-115{
    margin-left: 115px;
    margin-right: auto;
}

.m-l-120{
    margin-right: 120px;
    margin-left: auto;
}

.m-r-120{
    margin-left: 120px;
    margin-right: auto;
}

.m-l-125{
    margin-right: 125px;
    margin-left: auto;
}

.m-r-125{
    margin-left: 125px;
    margin-right: auto;
}

.p-l-0{
    padding-right: 0px;
}

.p-r-0{
    padding-left: 0px;
}

.p-l-5{
    padding-right: 5px;
    padding-left: 0;
}

.p-r-5{
    padding-left: 5px;
    padding-right: 0;
}

.p-l-10{
    padding-right: 10px;
    padding-left: 0;
}

.p-r-10{
    padding-left: 10px;
    padding-right: 0;
}

.p-l-15{
    padding-right: 15px;
    padding-left: 0;
}

.p-r-15{
    padding-left: 15px;
    padding-right: 0;
}

.p-l-20{
    padding-right: 20px;
    padding-left: 0;
}

.p-r-20{
    padding-left: 20px;
    padding-right: 0;
}

.p-l-25{
    padding-right: 25px;
    padding-left: 0;
}

.p-r-25{
    padding-left: 25px;
    padding-right: 0;
}

.p-l-30{
    padding-right: 30px;
    padding-left: 0;
}

.p-r-30{
    padding-left: 30px;
    padding-right: 0;
}

.p-l-35{
    padding-right: 35px;
    padding-left: 0;
}

.p-r-35{
    padding-left: 35px;
    padding-right: 0;
}

.p-l-40{
    padding-right: 40px;
    padding-left: 0;
}

.p-r-40{
    padding-left: 40px;
    padding-right: 0;
}

.p-l-45{
    padding-right: 45px;
    padding-left: 0;
}

.p-r-45{
    padding-left: 45px;
    padding-right: 0;
}

.p-l-50{
    padding-right: 50px;
    padding-left: 0;
}

.p-r-50{
    padding-left: 50px;
    padding-right: 0;
}

.p-l-55{
    padding-right: 55px;
    padding-left: 0;
}

.p-r-55{
    padding-left: 55px;
    padding-right: 0;
}

.p-l-60{
    padding-right: 60px;
    padding-left: 0;
}

.p-r-60{
    padding-left: 60px;
    padding-right: 0;
}

.p-l-65{
    padding-right: 65px;
    padding-left: 0;
}

.p-r-65{
    padding-left: 65px;
    padding-right: 0;
}

.p-l-70{
    padding-right: 70px;
    padding-left: 0;
}

.p-r-70{
    padding-left: 70px;
    padding-right: 0;
}

.p-l-75{
    padding-right: 75px;
    padding-left: 0;
}

.p-r-75{
    padding-left: 75px;
    padding-right: 0;
}

.p-l-80{
    padding-right: 80px;
    padding-left: 0;
}

.p-r-80{
    padding-left: 80px;
    padding-right: 0;
}

.p-l-85{
    padding-right: 85px;
    padding-left: 0;
}

.p-r-85{
    padding-left: 85px;
    padding-right: 0;
}

.p-l-90{
    padding-right: 90px;
    padding-left: 0;
}

.p-r-90{
    padding-left: 90px;
    padding-right: 0;
}

.p-l-95{
    padding-right: 95px;
    padding-left: 0;
}

.p-r-95{
    padding-left: 95px;
    padding-right: 0;
}

.p-l-100{
    padding-right: 100px;
    padding-left: 0;
}

.p-r-100{
    padding-left: 100px;
    padding-right: 0;
}

.p-l-105{
    padding-right: 105px;
    padding-left: 0;
}

.p-r-105{
    padding-left: 105px;
    padding-right: 0;
}

.p-l-110{
    padding-right: 110px;
    padding-left: 0;
}

.p-r-110{
    padding-left: 110px;
    padding-right: 0;
}

.p-l-115{
    padding-right: 115px;
    padding-left: 0;
}

.p-r-115{
    padding-left: 115px;
    padding-right: 0;
}

.p-l-120{
    padding-right: 120px;
    padding-left: 0;
}

.p-r-120{
    padding-left: 120px;
    padding-right: 0;
}

.p-l-125{
    padding-right: 125px;
    padding-left: 0;
}

.p-r-125{
    padding-left: 125px;
    padding-right: 0;
}

.align-left{
    text-align: right;
}

.align-right{
    text-align: left;
}

.icon-button-demo button{
    margin-left: 5px;
    margin-right: auto;
}

.icon-and-text-button-demo button{
    margin-left: 5px;
    margin-right: auto;
}

.button-demo ul{
    padding-right: 0;
}

.button-demo ul li{
    padding-right: 0;
    margin-left: 7px;
    margin-right: auto;
}

.button-demo .btn{
    margin-left: 8px;
    margin-right: auto;
}

.demo-button-groups .btn-group{
    margin-left: 10px;
    margin-right: auto;
}

.demo-button-toolbar .btn-toolbar{
    float: right;
    margin-left: 25px;
    margin-right: auto;
}

.demo-button-nesting > .btn-group{
    margin-left: 15px;
    margin-right: auto;
}

.demo-single-button-dropdowns > .btn-group{
    margin-left: 10px;
    margin-right: auto;
}

.demo-splite-button-dropdowns > .btn-group{
    margin-left: 10px;
    margin-right: auto;
}

.demo-dropup .dropup{
    margin-left: 10px;
    margin-right: auto;
}

.demo-knob-chart div{
    margin-left: 15px;
    margin-right: auto;
}

.demo-image-copyright{
    text-align: left;
    margin: 5px 0 10px 0 ;
}

.demo-icon-container .demo-google-material-icon{
    text-align: right;
}

.demo-icon-container .demo-google-material-icon .icon-name{
    right: 7px;
    left: auto;
}

.demo-preloader .preloader{
    margin-left: 10px;
    margin-right: auto;
}

.right-sidebar p{
    margin: 20px 15px 15px 15px ;
}

.right-sidebar .setting-panel .setting-list{
    padding-right: 0;
}

.right-sidebar .setting-panel .setting-list li a i.setting-icon{
    float: right;
}

.right-sidebar .setting-panel .setting-list li a i.setting-icon + span.setting-caption{
    float: right;
}

.right-sidebar .setting-panel .setting-list li .switch{
    left: 5px;
    right: auto;
}

.demo-choose-skin{
    padding-right: 0;
}

.demo-choose-skin li{
    padding: 10px 10px 4px 10px ;
}

.demo-choose-skin li.active:after{
    left: 10px;
    right: auto;
}

.demo-choose-skin li span{
    right: 5px;
    left: auto;
}

@media (max-width: 767px){
    .navbar > .container .navbar-brand,  .navbar > .container-fluid .navbar-brand{
        margin-right: 35px;
        margin-left: auto;
    }

    .navbar .navbar-nav{
        margin-right: -7px;
        margin-left: auto;
    }

    .navbar .dropdown-menu{
        margin-right: -50px;
        margin-left: auto;
    }

    .panel-switch-btn{
        left: 0 !important;
        right: auto;
    }

}

@media (min-width: 768px) and (max-width: 991px){
    .navbar > .container .navbar-brand,  .navbar > .container-fluid .navbar-brand{
        margin-right: 20px;
        margin-left: auto;
    }

}

@media (min-width: 992px) and (max-width: 1169px){
    .navbar > .container .navbar-brand,  .navbar > .container-fluid .navbar-brand{
        margin-right: 20px;
        margin-left: auto;
    }

}

section.content{
    margin: 100px 315px 0 15px ;
}

.dashboard-stat-list{
    padding-right: 0;
}

.dashboard-stat-list li{
    padding: 16px 0 0 0 ;
}

.btn-circle i{
    right: -1px;
    left: auto;
}

.btn-circle-lg i{
    right: 0px !important;
    left: auto;
}

.btn:not(.btn-link):not(.btn-circle) span{
    margin-right: 3px;
    margin-left: auto;
}

.btn-group .btn + .dropdown-toggle, .btn-group-vertical .btn + .dropdown-toggle{
    border-right: 1px solid rgba(0, 0, 0, 0.08) !important;
    border-left: none;
}

.noUi-target{
    direction: rtl;
}

.noUi-origin{
    left: 0;
    right: 0;
}

.noUi-horizontal .noUi-handle{
    right: -5px;
    left: auto;
}

.noUi-vertical .noUi-handle{
    right: -6px;
    left: auto;
}

.noUi-handle:before{
    right: 14px;
    left: auto;
}

.noUi-handle:after{
    right: 17px;
    left: auto;
}

.noUi-vertical .noUi-handle:before{
    right: 6px;
    left: auto;
}

.noUi-vertical .noUi-handle:after{
    right: 6px;
    left: auto;
}

.noUi-target .range-label{
    right: -2px;
    left: auto;
}

.noUi-target .noUi-active .range-label{
    border-radius: 15px 15px 0 15px;
}

.range-label span{
    right: -1px;
    left: auto;
}

.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selectable li.ms-elem-selection, .ms-container .ms-selection li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection{
    padding: 9px 15px 6px 15px !important;
}

.ms-container .ms-optgroup-label{
    padding: 5px 8px 0 0 !important;
}

.card .header .header-dropdown{
    left: 15px;
    right: auto;
}

.info-box.hover-expand-effect:after{
    right: 80px;
    left: auto;
}

.info-box-2.hover-expand-effect:after{
    right: 0;
    left: auto;
}

.info-box-3 .icon{
    left: 10px;
    right: auto;
}

.info-box-3 .chart{
    margin-left: 5px;
    margin-right: auto;
}

.info-box-3.hover-expand-effect:after{
    right: 0;
    left: auto;
}

.info-box-4 .icon{
    left: 10px;
    right: auto;
}

.info-box-4 .chart{
    margin-left: 5px;
    margin-right: auto;
}

.info-box-4.hover-expand-effect:after{
    right: 0;
    left: auto;
}

.sweet-alert .sa-input-error{
    left: 13px !important;
    right: auto;
}

.sweet-alert h2{
    margin: 0 0 5px 0 !important;
}

[type="checkbox"] + label{
    padding-right: 26px;
    padding-left: 0;
}

[type="checkbox"]:checked + label:before{
    right: -2px;
    left: auto;
}

[type="checkbox"]:checked.chk-col-red + label:before{
    border-left: 2px solid #F44336;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-pink + label:before{
    border-left: 2px solid #E91E63;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-purple + label:before{
    border-left: 2px solid #9C27B0;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-deep-purple + label:before{
    border-left: 2px solid #673AB7;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-indigo + label:before{
    border-left: 2px solid #3F51B5;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-blue + label:before{
    border-left: 2px solid #2196F3;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-light-blue + label:before{
    border-left: 2px solid #03A9F4;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-cyan + label:before{
    border-left: 2px solid #00BCD4;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-teal + label:before{
    border-left: 2px solid #009688;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-green + label:before{
    border-left: 2px solid #4CAF50;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-light-green + label:before{
    border-left: 2px solid #8BC34A;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-lime + label:before{
    border-left: 2px solid #CDDC39;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-yellow + label:before{
    border-left: 2px solid #ffe821;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-amber + label:before{
    border-left: 2px solid #FFC107;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-orange + label:before{
    border-left: 2px solid #FF9800;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-deep-orange + label:before{
    border-left: 2px solid #FF5722;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-brown + label:before{
    border-left: 2px solid #795548;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-grey + label:before{
    border-left: 2px solid #9E9E9E;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-blue-grey + label:before{
    border-left: 2px solid #607D8B;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-black + label:before{
    border-left: 2px solid #000000;
    border-right: none;
}

[type="checkbox"]:checked.chk-col-white + label:before{
    border-left: 2px solid #ffffff;
    border-right: none;
}

[type="checkbox"].filled-in:checked + label:before{
    border-left: 2px solid #fff !important;
    border-right: none;
}

[type="radio"]:not(:checked) + label{
    padding-right: 26px;
    padding-left: 0;
}

[type="radio"]:checked + label{
    padding-right: 26px;
    padding-left: 0;
}

.dtp .dtp-buttons .dtp-btn-ok{
    margin-right: 10px;
    margin-left: auto;
}

.dtp .dtp-buttons .dtp-btn-clear{
    margin-left: 10px !important;
    margin-right: auto;
}

.input-daterange .form-control{
    text-align: right;
}

.input-daterange .input-group-addon{
    padding-left: 10px !important;
    padding-right: 0;
}

.bootstrap-select .bs-searchbox, .bootstrap-select .bs-actionsbox, .bootstrap-select .bs-donebutton{
    padding: 0 0 5px 0 ;
}

.bootstrap-select .bs-searchbox .form-control, .bootstrap-select .bs-actionsbox .form-control, .bootstrap-select .bs-donebutton .form-control{
    margin-right: 30px;
    margin-left: auto;
}

.bootstrap-select .bs-searchbox:after{
    right: 10px;
    left: auto;
}

.nav-tabs > li{
    right: -2px;
    left: auto;
}

.nav-tabs > li > a:before{
    right: 0;
    left: auto;
}

.modal .modal-header{
    padding: 25px 25px 5px 25px ;
}

.panel-group .panel .panel-title .material-icons{
    float: right;
    margin-left: 8px;
    margin-right: auto;
}

.input-group .form-line:after{
    right: 0;
    left: auto;
}

.input-group .form-line + .input-group-addon{
    padding-left: 0;
    padding-right: 10px;
}

.input-group .help-info{
    float: left;
}

.input-group .form-line.focused .form-label{
    right: 0;
    left: auto;
}

.input-group .input-group-addon{
    padding-right: 0;
}

.input-group input[type="text"], .input-group .form-control{
    padding-right: 0;
}

.form-control-label{
    text-align: left;
}

.form-group .form-control{
    padding-right: 0;
}

.form-group .help-info{
    float: left;
}

.form-group .form-line:after{
    right: 0;
    left: auto;
}

.form-group .form-line .form-label{
    right: 0;
    left: auto;
}

.form-group .form-line.focused .form-label{
    right: 0;
    left: auto;
}

.pagination-sm > li:first-child > a .material-icons, .pagination-sm > li:last-child > a .material-icons{
    right: -6px;
    left: auto;
}

.pagination-lg > li:first-child > a .material-icons, .pagination-lg > li:last-child > a .material-icons{
    right: -10px;
    left: auto;
}

.wizard > .steps .current-info, .tabcontrol > .steps .current-info, .wizard > .content > .title, .tabcontrol > .content > .title{
    right: -999em;
    left: auto;
}

.wizard.vertical > .steps{
    float: right;
}

.wizard.vertical > .content{
    float: right;
    margin: 0 0 0.5em 0 ;
}

.wizard.vertical > .actions{
    float: left;
}

.wizard.vertical > .actions > ul > li{
    margin: 0 1em 0 0 ;
}

.wizard > .steps > ul > li{
    float: right;
}

.wizard > .actions > ul > li{
    float: right;
}

.wizard > .actions{
    text-align: left;
}

.wizard > .actions > ul{
    text-align: left;
}

.tabcontrol > .steps > ul{
    margin: 6px 0 0 0 ;
}

.tabcontrol > .steps > ul > li{
    float: right;
    margin: 5px 0 0 2px ;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.tabcontrol > .steps > ul > li.current{
    padding: 0 0 1px 0 ;
}

.tabcontrol > .steps > ul > li.current > a{
    padding: 15px 30px 10px 30px ;
}

.tabcontrol > .content > .body{
    float: right;
}

.page-loader-wrapper{
    right: 0;
    left: 0;
}

.right{
    float: left !important;
}

.gap-patch{
    right: 45%;
    left: auto;
}

.gap-patch.circle{
    right: -450%;
    left: auto;
}

.circle-clipper .circle{
    left: 0;
    right: auto;
}

.circle-clipper.left .circle{
    right: 0;
    left: auto;
    border-left-color: transparent !important;
    border-right-color: unset;
}

.circle-clipper.right .circle{
    right: -100%;
    left: auto;
    border-right-color: transparent !important;
    border-left-color: unset;
}

.dropdown-menu .header{
    padding: 4px 0 6px 0 ;
}

.dropdown-menu ul.menu{
    padding-right: 0;
}

.dropdown-menu ul.menu.tasks h4{
    margin: 0 0 8px 0 ;
}

.dropdown-menu ul.menu.tasks h4 small{
    float: left;
}

.dropdown-menu ul.menu .menu-info{
    right: 5px;
    left: auto;
}

.dropdown-menu .footer a{
    padding: 5px 0 5px 0 ;
}

.dropdown-menu > li > a i.material-icons{
    float: right;
    margin-left: 7px;
    margin-right: auto;
}

.overlay{
    right: 0;
    left: 0;
}

.overlay-open .sidebar{
    margin-right: 0;
}

.sidebar{
    right: 0;
    left: auto;
}

.sidebar .user-info{
    padding: 13px 15px 12px 15px ;
}

.sidebar .user-info .image{
    margin-left: 12px;
    margin-right: auto;
}

.sidebar .user-info .info-container .user-helper-dropdown{
    left: -3px;
    right: auto;
}

.sidebar .menu .list{
    padding-right: 0;
}

.sidebar .menu .list .menu-toggle:after, .sidebar .menu .list .menu-toggle:before{
    left: 17px;
    right: auto;
}

.sidebar .menu .list a small{
    left: 15px;
    right: auto;
}

.sidebar .menu .list a span{
    margin: 7px 12px 7px 0 ;
}

.sidebar .menu .list .ml-menu{
    padding-right: 0;
}

.sidebar .menu .list .ml-menu span{
    margin: 3px 6px 1px 18px ;
}

.sidebar .menu .list .ml-menu li a{
    padding-right: 55px;
    padding-left: 0;
}

.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle){
    margin-right: 5px;
    margin-left: auto;
}

.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before{
    left: 0px;
    right: auto;
}

.sidebar .menu .list .ml-menu li .ml-menu li a{
    padding-right: 80px;
    padding-left: 0;
}

.sidebar .menu .list .ml-menu li .ml-menu .ml-menu li a{
    padding-right: 95px;
    padding-left: 0;
}

.right-sidebar{
    left: -300px;
    right: auto;
}

.right-sidebar.open{
    left: 0;
    right: auto;
}

.right-sidebar .nav-tabs{
    margin-right: 2px;
    margin-left: auto;
}

.right-sidebar .nav-tabs li > a{
    margin-left: 0;
}

.login-page{
    padding-right: 0;
}

.signup-page{
    padding-right: 0;
}

.fp-page{
    padding-right: 0;
}

.profile-card .profile-footer ul li span:last-child{
    float: left;
}

.card-about-me .body ul li .title i{
    margin-left: 2px;
    margin-right: auto;
}

.panel-post .panel-footer ul li{
    margin-left: 12px;
    margin-right: auto;
}

.panel-post .panel-footer ul li:last-child{
    float: left;
    margin-left: 0;
}

.panel-post .panel-footer ul li a i{
    margin-left: 2px;
    margin-right: auto;
}

.panel-switch-btn{
    left: 20px;
    right: auto;
}

.legendLabel{
    right: 3px;
    left: auto;
}

.search-bar{
    right: 0;
    left: auto;
}

.search-bar .search-icon{
    right: 10px;
    left: auto;
}

.search-bar .close-search{
    left: 18px;
    right: auto;
}

.search-bar input[type="text"]{
    padding: 25px 56px 23px 60px ;
}

.dataTables_wrapper .dt-buttons{
    float: right;
}

.dataTables_wrapper .dt-buttons a.dt-button{
    margin-left: 5px;
    margin-right: auto;
}

.dt-button-info{
    right: 50%;
    left: auto;
    margin-right: -200px;
    margin-left: auto;
}

html.ie10 .search-bar input[type="text"]{
    padding: 26px 56px 26px 60px ;
}

html.ie11 .search-bar input[type="text"]{
    padding: 26px 56px 26px 60px ;
}

.enableExpandCollapse .navbar > .container .navbar-brand, .enableExpandCollapse .navbar > .container-fluid .navbar-brand{
    margin-right: 20px;
    margin-left: auto;
}

.enableExpandCollapse.overlay-open section.content{
    margin: 100px 315px 0 15px ;
}

.split-btn{
    float: left;
    margin-left: 0px;
    left: 2px;
    right: auto;
}

.split-btn-vertical{
    float: right;
    margin-left: 0px;
    margin-right: 4px;
}

.refresh{
    float: left;
}

.sidebar-collapse .refresh{
    float: right;
}

.split-vertical{
    float: left;
    margin-left: 0px;
}

.ui-menu-item .gblSearch{
    right: 5px;
    left: auto;
}

.ui-menu .ui-menu-item-wrapper{
    padding: 7px .4em 7px 1em ;
}

span.menuBgIcon{
    margin-right: 10px;
    margin-left: auto;
}

.enableExpandCollapse.compressedModeUI section.content .appBackBtn{
    right: -8px;
    left: auto;
}

.enableExpandCollapse.compressedModeUI.overlay-open section.content{
    margin: 75px 305px 0px 5px ;
}

.enableExpandCollapse.compressedModeUI.overlay-open section.content .row .col-lg-12.col-md-12.col-sm-12.col-xs-12{
    padding-left: 0px;
    padding-right: 0px;
}

.enableExpandCollapse.compressedModeUI.overlay-open section.content .appBackBtn{
    right: 292px;
    left: auto;
}

.compressedModeUI section.content{
    margin: 75px 5px 5px 5px ;
}

.compressedModeUI section.content .row .col-lg-12.col-md-12.col-sm-12.col-xs-12{
    padding-left: 0px;
    padding-right: 0px;
}

.compressedModeUI section.content .appBackBtn{
    right: -8px;
    left: auto;
}

