﻿body {
    font-family: 'Lato', sans-serif !important;
}

.customErrorMessage {
    color: #cf4444;
    float: left;
    margin-bottom: -10px;
}

.customErrorMessagee {
    color: #cf4444;
    float: left;
    margin-bottom: -10px;
    margin-left: 18px;
}

.appHeader {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #c1c1c1;
}

.headerName {
    text-align: center;
    margin-bottom: -37px;
}

label.selectalign {
    text-align: left;
    width: 100%;
    display: inline;
}

h2.con {
    font-size: 20px;
    width: 100%;
    padding-left: 15px;
}

.form-group.col-md-12.app {
    text-align: left;
}

label.selectalignn {
    text-align: left;
    width: 100%;
    margin-left: 15px;
    display: inline;
}

.wizard {
    min-height: auto !important;
}

.wizardContent {
    height: 200px !important;
    text-align: left !important;
    margin-left: 10px;
    margin-right: 10px;
}

.lblleft {
    float: left;
}

@media( max-width : 414px ) {
    .wizard .tab-pane {
        position: relative;
    }

    .wizardContent {
        /*height: 200px !important;*/
    }

    .form-group {
        margin-bottom: 1px;
    }

    section#dvCondition {
        height: 90px !important;
    }

    .h2, h2 {
        font-size: 20px;
    }

    .list-inline {
        padding-left: 0;
        margin-left: -5px;
        list-style: none;
        margin-top: 23px;
    }

        .list-inline > li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 0px;
        }

    .headerName {
        text-align: center;
        margin-bottom: -44px;
    }
}

a#btnAddNew {
    font-size: 20px;
    color: black;
}

a#clearCond {
    font-size: 20px;
    color: black;
}

@media (max-width:1024px) and (min-width:415px) {
    .list-inline > li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
        margin-top: 10px;
    }
}


/*@media( max-width : 1098px ) {
 table#tblpanel {
    margin-left: 57px !important;
}
}*/

p.vertical-text {
    cursor: default !important;
}

.allowempty {
    color: #ff0000;
}

a#lnkExpFile {
    margin-top: 5px;
}

section#leftVerticalText p.vertical-text {
    cursor: default;
}


body {
    font-family: 'Lato', sans-serif !important;
}

.wizard {
    background: #fff;
    border: 1px solid #bbbbbb;
    padding: 0px;
    /*height: calc(100vh - 58px);*/
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }


    .wizard > section.wizard-inner {
        position: relative;
        padding: 0px 26px;
        margin-top: -28px;
    }


.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 78%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

    span.round-tab i {
        color: #555555;
    }

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    color: #5bc0de;
}

    .wizard li.active span.round-tab i {
        color: #5bc0de;
    }

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 15px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.wizardContent {
    height: calc(100vh - 251px);
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.wizardFooterBtn {
    position: absolute;
    bottom: 2px;
    width: 100%;
    left: 0px;
    margin: 0px;
    border-top: 1px solid #bbbbbb;
}

/* for demo only */
.wizard h3 {
    margin-top: 0;
    font-size: 50px;
    padding-top: 62px;
}

.input-group {
    margin: auto;
}

td, th {
    padding: 2px 5px;
}

#wizardFooter button.btn {
    margin: 12px;
    margin-right: 3px;
}


table#tblpanel {
    margin: auto;
}

#backgroundDiv {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #d3d3d3;
    filter: alpha(opacity=50);
    opacity: 1;
    z-index: 999999;
}

@media (max-width: 414px) {

    button#btnPrevForFilter {
        min-width: 70px !important;
        padding: 0px 3px;
    }

    button.coldbtn.btn.prev-step {
        margin-top: 1px;
        margin-left: 25px;
    }

    button#btnCancelWiz2 {
        min-width: 65px;
        padding: 0px 0px;
    }

    button.hotbtn.btn {
        margin: 0px;
        margin-right: 0px;
        min-width: 60px;
    }

    button#btnCancelWiz1 {
        min-width: 65px;
    }

    button#btnCancelWiz3 {
        min-width: 65px;
        padding: 0px;
    }

    button.coldbtn.btn.prev-step {
        min-width: 77px;
        padding: 4px 2px;
    }
}

i.glyphicon.glyphicon-ok.icon-arrows-check {
    font-size: 50px;
}

span.curHand.icon-arrows-circle-minus {
    font-size: 20px;
    text-decoration: none !important;
}

button#btnnext:hover {
    opacity: 0.65 !important;
}

span.round-tab.glyphicon.glyphicon-ok.icon-arrows-check {
    font-size: xx-large;
}

.popover-content {
    font-size: 11px;
}

.disabled {
    cursor: no-drop !important;
}

i#icocl1 {
    margin-left: 3px;
}

i#icocl2 {
    margin-left: 1px;
}

.helptxt {
    margin-left: 3px;
}

.jconfirm-buttons button.btn.hotbtn {
    margin-top: 0px;
}

button#btnCancelWiz4 {
    margin-top: 11px;
    margin-right: 21px;
}

.body-container {
    padding: 0px 5px 0px 5px;
}


/*wizard css*/

.wizard-progress {
    display: table;
    width: 100%;
    table-layout: fixed;
    position: relative;
}

    .wizard-progress .step {
        display: table-cell;
        text-align: center;
        vertical-align: top;
        overflow: visible;
        position: relative;
        font-size: 14px;
        color: #797979;
    }

        .wizard-progress .step a {
            color: #797979;
        }

        .wizard-progress .step:not(:last-child):before {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 39px;
            background-color: #d2d2d2;
            height: 3px;
            width: 100%;
        }

        .wizard-progress .step .node {
            display: inline-block;
            border: 3px solid #d2d2d2;
            background-color: #fff;
            border-radius: 18px;
            height: 30px;
            width: 30px;
            position: absolute;
            top: 25px;
            left: 50%;
            margin-left: -18px;
            cursor: pointer;
        }

        .wizard-progress .step.complete:before {
            background-color: #07c;
        }

        .wizard-progress .step.complete .node {
            border-color: #07c;
            background-color: #07c;
        }

            .wizard-progress .step.complete .node:before {
                font-family: 'Linearicons';
                content: "\e934";
                color: white;
                position: relative;
                top: 3px;
            }

        .wizard-progress .step.in-progress:before {
            background: #07c;
            background: -moz-linear-gradient(left, #07c 0%, #fff 100%);
            background: -webkit-linear-gradient(left, #07c 0%, #fff 100%);
            background: linear-gradient(to right, #07c 0%, #fff 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07c', endColorstr='#fff',GradientType=1 );
        }

        .wizard-progress .step.in-progress .node {
            border-color: #07c;
        }

#wizardModal {
    width: 95vw;
    height: 80vh;
    max-height: 80vh;
}

.cancelButton {
    background: gray !important;
    margin-right: 10px !important;
}

.modal-footer button {
    text-transform: capitalize;
}

.wizard-progress .step.active a {
    color: #01579b;
}

.stepName:hover {
    text-decoration: none;
}

.wizard-progress .step.active node {
    color: black !important;
}

.marg0 {
    margin: 0 !important;
}

#wizarTypeSel .valign-wrapper {
    text-align: center;
    height: calc(100vh - 290px);
}

#wizardBodyContent .valign-wrapper {
    text-align: center;
    height: calc(100vh - 300px);
}


#wizarTypeSel a.iconAnchr {
    display: inline-block;
    margin: 0 10px;
    color: grey;
}

    #wizarTypeSel a.iconAnchr span {
        font-size: 121px;
    }

.wizardContainer {
    display: inline;
    margin-top: 10px;
}

#wizardBodyContent {
    margin-top: 40px !important;
    max-height: 288px !important;
}

.progress_flat #wizardBodyContent {
    margin-top: 25px;
}

.progress_flat .wizard-progress {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-top: 15px;
    position: relative;
}

.progress_flat #wizardHeader {
    margin: 17px;
}

.progress_flat {
    min-height: 321px;
}

    .progress_flat .wizard-progress .step a {
        color: black;
    }

    .progress_flat .wizard-progress .step:not(:last-child):before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: -9px;
        height: 3px;
        background: none !important;
    }

.wizard-progress .step.active.flat:before {
    width: 10px;
    margin-top: -3px;
}


.progress_flat .wizard-progress .step.active.flat:before {
    background: none !important;
}

.progress_flat #imWizardEdit {
    min-height: 274px;
}

.wizard-footer {
    border-top: 1px solid rgb(229, 229, 229);
}


.wizard-footer {
    border-top: 1px solid rgb(229, 229, 229);
}

#exWizardFilter {
    margin: 15px;
}
/*Themes*/
#wizarTypeSel a.iconAnchr:hover, #wizarTypeSel a.iconAnchr:focus {
    color: #01579b;
    outline: 0;
}


.multiselect option {
    border-bottom: 1px #eee solid;
    padding: 6px 11px 7px 7px;
    color: #555;
    font-size: 14px;
    border-bottom: 1px #eee solid;
    color: #555;
    font-size: 14px;
}

.multiselect {
    padding: 0px;
    height: 151px !important;
    padding: 0;
    overflow-y: auto;
}

.select-button {
    padding: 9px;
    width: 35px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px !important;
}

#tblpanel a:hover {
    text-decoration: none !important;
}

.rtlLanguage .wizard-progress .step:not(:last-child):before {
    right: 50%;
}

.btextDir-rtl .lblleft {
    float: none;
}

.btextDir-rtl .form-group.col-md-12.app {
    text-align: right;
}

.select-button:focus, .select-button:hover {
    text-decoration: none !important;
}

.jconfirm {
    position: absolute !important;
}

#tblpanel a:hover, a:active {
    text-decoration: none !important;
}

.rtl-label-checkbox {
    display: inline-block;
    margin-right: 2em;
    line-height: 1em;
}

#wizardWrappper {
    padding: 0px 10px 0px 10px;
}

@media (max-width: 768px) {
    table#tblpanel {
        margin: 0px;
    }

    #exWizardFilter h2.con {
        padding-left: 0px;
    }

    #wizardFooter button.btn {
        margin-left: 5px;
    }

    #wizardWrappper {
        padding: 0px 10px 10px 10px !important;
    }

    #exWizardDataSearch .form-group {
        margin-top: 10px;
    }

    #exWizardDataSearch#lblextstruct {
        margin-bottom: 5px;
        display: inline-block;
    }
}
