﻿/*@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);*/
/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(global-font/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(global-font/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(global-font/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(global-font/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(global-font/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'SourceSansPro-Black';
    src: url('global-font/SourceSansPro-Black.otf') format('opentype');
}
@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('global-font/SourceSansPro-Light.otf') format('opentype');
}
@font-face {
    font-family: 'SourceSansPro-LightIt';
    src: url('global-font/SourceSansPro-LightIt.otf') format('opentype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(global-font/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(global-font/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



body, html {
    /*font-family: 'Lato', sans-serif !important;*/
    font-family: 'Roboto', sans-serif !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

/* Fore alerts */
.shortMessageWrapper {
    position: fixed;
    height: 0;
    width: 100%;
    top: 55px;
    z-index: 10000000;
    text-align: center;
}
.shortMessageWrapperInApp {
    top: 5px;
}
.agc-alert-wrapper {
    color: #ffffff;
    background: transparent;
    opacity: 0.97;
    display: inline-block;
    padding: 6px 15px;
    border-radius: 2px;
    box-shadow: 1px 3px 10px;
}

.agc-alert-success {
    background-color: #5bb240;
    border-color: #2bb500;
}

.agc-alert-success .agc-alert-icon-wrapper {
    color: #5bb240;
}

.agc-alert-info {
    background-color: #31708f;
    border-color: #006596;
}

.agc-alert-info .agc-alert-icon-wrapper{
    color: #31708f;
}

.agc-alert-error {
    background-color: #e44b4b;
    border-color: #de2e2e;
}

.agc-alert-error .agc-alert-icon-wrapper {
        color: #ec0026;
}

.agc-alert-warning {
    background-color: #8a6d3b;
    border-color: #8e5a00;
}

.agc-alert-warning .agc-alert-icon-wrapper{
    color: #8a6d3b;
}

.agc-alert-icon-wrapper {
    background: white;
    padding: 5px;
    border-radius: 50px;
    margin: 3px;
    margin-right: 15px;
    width: 24px;
}

.agc-close-btn {
    padding: 5px 0px;
    text-decoration: none;
    margin-left: 10px;
    color: #ffffff !important;
    text-shadow: 0 1px 0 #000;
    opacity: 0.7;
}
    .agc-close-btn:hover {
        color: #ffffff;
        opacity: 1;
    }
/* For alerts end */

/* For buttons */
.coldbtn {
    opacity:.8;
    color: #FFF !important;
    background-color: #737373 !important;
    border: 0px !important;
    min-width: 100px;
    text-align: center;
    padding: 6px 12px;
    margin-right: 3px;
    border-radius: 4px;
    height: 32px;
}

.hotbtn {
    opacity:.8;
    color: #FFF !important;
    background: #0c7abf;
    background-color: #0c7abf !important;
    border: 0px !important;
    min-width: 100px;
    text-align: center;
    padding: 6px 12px;
    border-radius: 4px;
    height: 32px;
}

.hotbtn:hover, .hotbtn:focus, .coldbtn:hover, .coldbtn:focus {
    -webkit-transition: all 60ms ease;
    transition: all 60ms ease;
    opacity: 1;
    color: #FFF !important;
}

.normalbtn{
    min-width: 100px;
    text-align: center;
    background-color: #eeeded !important;
    height: 33px;
    color: #333 !important;
    border-color: #ccc !important;
}

.normalbtn:hover, .normalbtn:focus {
    -webkit-transition: all 60ms ease;
    transition: all 60ms ease; 
    opacity: .80;
    color: #000 !important;
  }

.hotbtn:disabled:hover,.coldbtn:disabled:hover,.normalbtn:disabled:hover {
    opacity: .55;
}

/*If required tiny buttons use this classes*/
.coldbtntiny {
    color: #FFF !important;
    background-color: #737373 !important;
    border: 0px !important;
    min-width: 75px;
    text-align: center;
    padding: 2px 6px;
    margin-right: 3px;
    border-radius: 4px;
    height: 27px;
}

.hotbtntiny {
    color: #FFF !important;
    background: #0c7abf;
    background-color: #0c7abf !important;
    border: 0px !important;
    min-width: 75px;
    text-align: center;
    margin-right: 3px;
    padding: 2px 6px;
    border-radius: 4px;
    height: 27px;
}

.hotbtntiny:hover, .hotbtntiny:focus, .coldbtntiny:hover, .coldbtntiny:focus {
    -webkit-transition: all 60ms ease;
    transition: all 60ms ease;
    opacity: .85;
    color: #FFF !important;
}

.hotbtntiny:disabled:hover,.coldbtntiny:disabled:hover {
    opacity: .55;
}

.normalbtntiny{
    min-width: 75px;
    text-align: center;
    background-color: #eeeded;
    font-weight: 700px;
    padding: 2px 6px;
    height: 27px;
    color: #333;
    border:1px solid #ccc;
    border-radius:4px;
    margin-right: 3px;
}

.normalbtntiny:hover, .normalbtntiny:focus {
    -webkit-transition: all 60ms ease;
    transition: all 60ms ease; 
    opacity: .80;
    color: #000;
    border-color: #ccc;
  }


/* For buttons end*/


/*form rtl Support*/
.btextDir-rtl .panel-heading a:before {
    float: right;
}

.btextDir-rtl .dropdown-menu{
	text-align: right;
}
/*.btextDir-rtl .remodal-wrapper.remodal-is-opened #axpertPopupWrapper button.remodal-close.icon-basic-remove {
    left: 7px !important;
    right: auto;
}*/
jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button {
    text-transform: none !important;
    float:right;
}

.modal.ui-draggable{
    overflow: hidden;
}

@media (min-width: 992px) {
    .modal-xl {
        width: 1140px
    }
    .modal-xxl {
        width: 100%;
    }
}

::-ms-clear {
    display: none !important;
}

#mainQRcodeWrapper{
	/*temp display none*/    
	display:none;
}

/* Material font*/
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(global-font/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2'),
    url(global-font/flUhRq6tzZclQEJ-Vdg-IuiaDsNa.woff) format('woff');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }