﻿body, html {
    font-family: Roboto, sans-serif !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

#login-box h3, #login-prouct-name, .button {
    font-weight: 700;
    color: #666;
}

#login-box li, #login-logo .divclear {
    clear: both;
}

.signout_cls {
    background: url(../AxpImages/homelogo.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#login-prouct-name, .button {
    filter: progid:DXImageTransform.Microsoft.Gradient(enabled='true', StartColorStr=#EFEEF0, EndColorStr=#bac1cd);
}

#info-box ul, #login-box ul {
    font-weight: 700;
    list-style-type: none;
}

#container-arrow, #info-box li, #login-box li, #login-prouct-name {
    vertical-align: middle;
}

#info-box, #login-box {
    box-shadow: 0 17px 37px -6px #000;
}

a {
    color: #00f;
    text-decoration: none;
}

input.text, input.title, input[type=password], input[type=text], select, textarea {
    margin: .1em 0;
    padding: .2em 0;
    color: #666;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 0 !important;
}

#login-container {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#login-logo .logo-left {
    padding: 10px 10px 10px 20px;
    width: 48%;
    float: left;
}

#login-prouct-name {
    height: 25px;
    background-color: #efeef0;
    background: -moz-linear-gradient(top, #efeef0, #bac1cd);
    font-size: 15px;
    padding-left: 20px;
    padding-top: 2px;
    border: 1px solid #bac1cd;
}

#login-box {
    background-color: #fff;
    width: 351px;
    margin: 0 auto;
    padding: 0 30px 5px;
    border-radius: 5px;
    clear: both;
    -webkit-box-shadow: 0 17px 37px -6px #000;
    -moz-box-shadow: 0 17px 37px -6px #000;
    box-shadow: 0 17px 37px -6px #000;
    border-top: 3px solid #f67c0f;
}

#login-box .lbl {
    padding: 5px 10px 0;
    width: 150px;
    float: left;
    text-align: right;
}

.button {
    background: -moz-linear-gradient(top, #efeef0, #bac1cd);
    border: 1px solid #333;
    font-size: 12px;
    padding: 4px 15px;
    cursor: pointer;
}

.large {
    line-height: 1.2em;
    margin-bottom: .75em;
    color: #666;
    font-size: 1.3em;
}

.fields {
    padding: 0 3px;
    float: left;
}

.fields input, .fields select {
    padding-left: 5px;
    padding-right: 5px;
    width: 200px;
}

.divbutton {
    width: 100%;
    float: right;
    margin-bottom: 15px;
}

#container-arrow {
    display: table-cell;
}

#info-box ul {
    margin-left: 29px;
}

#info-box li {
    font-weight: 400;
    padding-top: 10px;
    clear: both;
}

#info-box {
    margin: 0 auto;
    width: 460px;
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 5px;
}

#info-box h2 {
    margin: 10px auto 10px 45px;
    color: #000;
    font-size: 1.5em;
}

input[type=password]:focus, input[type=text]:focus, select:focus {
    border: 1px solid #ff8000;
    outline: 0;
}

#info-box a.btn.coldbtn, #info-box a.btn.hotbtn {
    padding: 9px 34px;
}

@media(max-width:510px) {
    #info-box {
        width: 316px;
    }
    #info-box li {
        font-weight: 400;
        padding-top: 4px;
        clear: both;
    }
}

.input-icon {
    border-left: 0 solid #f67c0f !important;
    display: inline-block;
    width: 100%;
}

input#Text2, input#txtMl, input#txtName, input#axSelectProj {
    border-left: 2px solid #f67c0f !important;
}

.control-group {
    margin-bottom: 10px !important;
    clear: both;
    float: left;
    width: 100%;
}

input#btnSubmit {
    float: right;
}

.btnsumbitnew {
    width: 100%;
}

input#txtMl, input#txtName {
    width: 289px;
    padding-left: 33px !important;
    padding-right: 25px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-size: 12px;
}

a:focus, a:hover {
    color: #09f !important;
}

.fpasswordlbl {
    width: 100%;
}

p.copyrightpara {
    color: #666!important;
    font-size: 11px;
    margin-top: 8px;
    margin-bottom: -6px;
}

.controls .input-icon.left i.icon-cross {
    margin-top: -33px;
    margin-left: 310px;
    cursor: pointer;
}

.controls .input-icon.left i.icon-chevron-down.autoClickddl {
    margin-top: -33px;
    margin-left: 328px;
    cursor: pointer;
}

input#axSelectProj {
    padding-right: 37px !important;
    width: 279px;
    padding-left: 33px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-size: 12px;
}

@media(max-width:480px) {
    #login-box {
        padding: 30px;
        width: 222px !important;
    }
    .controls .input-icon.left i.icon-cross {
        margin-top: -33px;
        margin-left: 185px;
        cursor: pointer;
    }
    .controls .input-icon.left i.icon-chevron-down.autoClickddl {
        margin-top: -33px;
        margin-left: 203px;
        cursor: pointer;
    }
    input#txtMl, input#txtName {
        width: 163px;
    }
    input#axSelectProj {
        width: 153px;
    }
}

input[type=text]::-ms-clear {
    display: none;
}

ul.ui-autocomplete li.ui-menu-item a.ui-corner-all {
    display: block;
    padding: 0.5px 10px;
    text-decoration: none;
}

ul.ui-autocomplete li.ui-menu-item a.ui-corner-all:not(.ui-state-focus):hover {
    color: #444;
    text-decoration: none;
}

a.ui-state-focus:hover, a.ui-state-focus:focus {
    color: #fff !important;
}

ul.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .signout_cls {
        background-image: url(../../AxpImages/homelogo_mob.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}