

.card {
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

#propertySheet .hpbHeaderTitle, .cutsomColorbtn, .createBadge::after {
    background: #01579b;
    color: white;
}

.hpbHeaderTitle {
    padding: 5px;
}

.clear {
    clear: both;
}

.btn-flat {
    background: none;
}

propertySheet.form-control {
    padding: 3px !important;
    height: 24px !important;
}

.scale-transition.scale-in {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.scale-transition.scale-out {
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: -webkit-transform .2s !important;
    transition: transform .2s !important;
    transition: transform .2s, -webkit-transform .2s !important;
}

.btn-floating:hover {
    /* background-color: #26a69a; */
}

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

button.btn-floating {
    border: none;
}

#propertySheetDataWrapper {
    padding: 0px 10px;
}

input#propertySearchFld {
    border: 0px;
    box-shadow: 0px 0px 4px #bfbfbf;
    margin-top: 5px;
    height: 34px;
}

#propertySearch {
    position: relative;
    padding: 0px 2px;
}

input#propertySearchFld {
    border: 0px;
    box-shadow: 0px 0px 4px #bfbfbf;
    margin: 0px;
    margin-top: 5px;
    height: 20px;
    display: block;
    padding: 0px 30px 0px 5px;
    width: 100%;
    box-sizing: border-box;
}

#propertySearch .srchIcn {
    position: absolute;
    top: 3px;
    right: 4px;
    font-size: 14px;
    color: #bfbfbf;
}

input#propertySearchFld:focus {
    box-shadow: 0px 0px 14px #bfbfbf;
}

div#propTableContent table td {
    border: 1px solid #dadada;
    padding: 2px 5px;
    font-size: 12px;
}

input.normalInpFld {
    border: 1px solid #d6d6d6;
    margin: 0px;
    height: 20px;
    padding: 0px 5px;
    font-size: 11px;
    box-sizing: border-box;
}

.propShtDataToggleIcon {
    cursor: pointer;
    float: right;
    color: black;
    position: relative;
    top: 2px;
    right: 5px;
    font-size: 15px;
}

#propertySheetDataWrapper .switch,
#propertySheetDataWrapper .switch * {
    font-size: 11px;
}

    #propertySheetDataWrapper .switch label .lever:after {
        width: 15px;
        height: 15px;
        left: 0px;
        top: 0px;
    }

    #propertySheetDataWrapper .switch label .lever {
        width: 30px;
    }

    #propertySheetDataWrapper .switch label input[type=checkbox]:checked + .lever:after {
        background-color: #26a69a;
        left: 14px;
    }

#propTableContent .file-field.input-field {
    margin: 0px;
}

#propTableContent .file-path {
    margin: 0px;
    height: 20px;
    border: 1px solid #b7b7b7;
    box-sizing: border-box;
    font-size: 11px;
}

#propTableContent .fileupbtn {
    height: 20px;
    line-height: 0.8;
    padding: 0px 10px;
    background: #01579b;
    float: right;
}

#propTableContent .file-field .file-path-wrapper {
    padding-left: 0px;
    padding-right: 5px;
}

.colorPickerWrapper {
    position: relative;
}

#propTableContent .sp-replacer {
    position: absolute;
    top: -1px;
    right: 0px;
    padding: 0px;
    border-radius: 50%;
    border: 1px solid #d2d2d2;
}

#propTableContent .sp-dd {
    display: none;
}

#propTableContent .sp-preview {
    margin: 0px;
    border: 0px;
    height: 20px;
    width: 20px;
}

.colorPickerInp,
.iconInpFld {
    width: calc(100% - 26px) !important;
}

.iconSelector {
    font-size: 15px;
    position: relative;
    left: -1px;
    width: 20px;
    height: 20px;
    top: 0px;
    color: #01579b;
    cursor: pointer;
}

    .iconSelector span {
        position: relative;
        top: -9px;
    }

div#propTableContent {
    margin: 5px 0px;
}

div#propertySheetDataWrapper {
    max-height: 75vh;
    overflow: auto;
}

#propTableContent .input-field {
    margin: 0px;
    padding: 0px;
}

#propTableContent input.select-dropdown {
    margin: 0px !important;
    height: 20px !important;
    border: 1px solid #d6d6d6;
    padding: 0px 5px;
    box-sizing: border-box;
    font-size: 11px;
}

#propTableContent .multiple-select-dropdown li span {
    padding: 0px 10px;
    color: #8a8a8a;
}

#propTableContent .multiple-select-dropdown li {
    height: 20px !important;
    min-height: inherit;
}

#propTableContent .input-field.col .dropdown-content [type="checkbox"] + label {
    top: 0px;
    left: 0;
    height: 15px;
}

button#propertySrchCls i {
    font-size: 21px;
    position: relative;
    /*right: 6px;*/
    top: 0px;
}

button#propertySrchCls {
    width: 22px;
    height: 22px;
    position: relative;
    top: -2px;
}





div#iconWrapperData span[class^="icon-"] {
    font-size: 20px;
    padding: 5px 5px;
    cursor: pointer;
    display: inline-block;
}



.cardContentMainWrapper {
    color: black;
    background-color: white;
}

#propertySheetDataWrapper span.caret {
    right: 4px;
    color: #b1b1b1;
}

.customError {
    width: 100% !important;
    border: 1px solid #ce1a3b !important;
}
.bordered .customError {
    width: 100% !important;
    border: 1px solid #ce1a3b !important;
}
a#propsheet {
    font-size: 23px;
    color: #000 !important;
}
.btextDir-rtl #propertySheet {
    position: fixed;
    top: 61px;
    width: 280px;
    z-index: 9999;
    padding: 0px;
    right:0px;
}
.btextDir-ltr #propertySheet {
    position: fixed;
    top: 73px;
    width: 280px;
    z-index: 9999;
    padding: 0px;
    left: 16px;
}
