﻿.approved, .itemone, .popover-content, .title {
    text-transform: capitalize;
}

#selectbox, .itemone {
    cursor: pointer;
}

.circle, .commbox, .dropbox, .icobtn, .workflow {
    display: inline-block;
}

.popover, .popover-content {
    word-wrap: break-word !important;
}

.panel-heading .accordion-toggle:after {
    font-family: FontAwesome;
        content: "\f107";
    float: left;
    color: grey;
    position: absolute;
    margin: -8px;
}

/*.commbox, .consumergoodsworkflow.modal-title, body, html {
    font-family: Lato,sans-serif !important;
}*/

.approved, .circle {
    position: relative;
}

.panel-heading .accordion-toggle.collapsed:after {
     content: "\f106"
}

body, html {
    color: #5a5a5a;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    margin: 0;
    padding: 0;
}

#main {
    height: auto;
    width: auto;
    margin: auto;
}

.circle {
    line-height: 2.3;
    width: 37px;
    height: 37px;
    background: #8454f6;
    border-radius: 50%;
    margin-left: -27px;
    text-align: center;
    font-size: 8px;
    font-weight: 700;
    z-index: 1;
    padding: 5px;
    color: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    margin-top: 10px;
}

    .circle:hover {
        opacity: .8;
    }

.maincls {
    margin-top: 0px;
    text-align: left;
}

.icobtn {
    padding-left: 4px;
}

#btnViewCommts {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    border-radius: 4px;
}

.Pending:after, .Pending:before, .approved:after, .approved:before, .rejected:after, .rejected:before, .returned:after, .returned:before, .reviewed:after, .reviewed:before {
    content: "";
     border-top: 16px solid transparent;

}

.workflow {
    margin-left: 1px;
    padding-top: 10px;
}

.approved, .rejected, .returned, .reviewed {
  /*  padding-top: 15px;
    margin: 2px;
    font-size: 11px;
    padding-right: 10px;
    color: #fff;
    text-align: right;*/

    width: 124px;
    height: 29px;
    padding-top: 14px;
    position: relative;
    color: #fff;
    margin: 1px;
    font-size: 1px;
    padding-right: 28px;
    text-align: right;
}

.approved {
/*    width: 110px;
    height: 45px;*/
    background: #62C986;
}

    .approved:after, .approved:before {
        position: absolute;
        width: 0;
        text-transform: capitalize;
    }

    .approved:before {
          z-index: 1;
    border-left: 14px solid #62C986;
    left: 124px;
    border-top: 16px solid transparent;
    top: 0px;
    border-bottom: 14px solid transparent;

    }

    .approved:after {
     left: 0;
        bottom: 0;
        height: 0;
     border-left: 13px solid #fff;
    border-bottom: 13px solid transparent;
    }

.reviewed {
    position: relative;
    background: #00558e;
}

    .reviewed:after, .reviewed:before {
        position: absolute;
        width: 0;
    }

    .reviewed:before {
     z-index: 1;
    border-left: 14px solid #06548e;
    left: 124px;
    border-top: 16px solid transparent;
    top: 0px;
    border-bottom: 14px solid transparent;
    }

    .reviewed:after {
left: 0;
        bottom: 0;
        height: 0;
    border-left: 13px solid #fff;
    border-bottom: 13px solid transparent;
    }

.rejected {
     position: relative;
    background: #e74c3c;
}

    .rejected:after, .rejected:before {
        position: absolute;
        width: 0;
    }

    .rejected:before {
         z-index: 1;
    border-left: 14px solid #e74c3c;
    left: 124px;
    border-top: 16px solid transparent;
    top: 0px;
    border-bottom: 14px solid transparent;
    }

    .rejected:after {
      left: 0;
        bottom: 0;
        height: 0;
     border-left: 13px solid #fff;
    border-bottom: 13px solid transparent;
    }

.Pending:before, .returned:before {
border-bottom: 14px solid transparent;
   z-index: 1;
}



.returned {
   
    position: relative;
    background: #3f51b5;
}

    .returned:after, .returned:before {
        position: absolute;
        width: 0;
    }

    .returned:before {
         z-index: 1;
    border-left: 14px solid #3f50b5;
    left: 124px;
    border-top: 16px solid transparent;
    top: 0px;
    border-bottom: 14px solid transparent;
    }

    .returned:after {
       left: 0;
        bottom: 0;
        height: 0;
border-left: 13px solid #fff;
    border-bottom: 13px solid transparent;
    }

.dropbox {
    width: auto;
    margin-left: 34px;
    margin-bottom:-11px;
}

.btn:focus {
    outline: 0;
}

.modExample .btn {
    margin: 4px 8px 4px 0;
}

a.accordion-toggle:focus {
    opacity: .5 !important;
}

.para {
    margin-top: -7px;
        font-size: 11px !important;
        padding-left: 27px;
}

.modal-backdrop {
    background-color: #fff;
    opacity: 0;
}

.consumergoodsworkflow.modal-body {
    padding-bottom: 0;
}

.consumergoodsworkflow.modal-header {
    padding: 5px 15px;
}

#consumergoods .consumergoodsmodal.modal-dialog, #consumergoods2 .consumergoodsworkflow.modal-dialog {
    top: 137px;
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
}

.consumergoodsworkflow.panel-heading {
    background-color: #fff !important;
}

.consumergoodsworkflow.panel.panel-default {
    border: none !important;
}

.consumergoodsworkflow.modal-title {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.42857143;
}

.consumergoodsworkflow.modal-footer {
    padding: 0;
    text-align: right;
    margin-right: 10px;
    border-top: 0;
    margin-bottom: 10px;
}

.consumergoodsworkflow.panel-body {
    padding: 1px;
    border: 0 !important;
}

.consumergoodsworkflow.panel {
    border: none !important;
}

.coldbtndynamic, .hotbtndynamic {
    color: #FFF !important;
    border: 0;
    width: 100px;
}

table.table.table-bordered.firstble td, th {
    padding: 5px 5px 5px 7px !important;
    font-size: 14px;
}

.firstble {
    margin-bottom: 0;
}

div#collapseOneTable {
    max-height: 140px;
    overflow-y: auto !important;
}

#comment {
    height: 60px;
    max-width: 100%;
    max-height: 100px;
}

.consumergoodsworkflow.modal-content {
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,.5);
    box-shadow: 0 0 0 rgba(0,0,0,.5);
    text-align: left;
}

.consumergoodsworkflow.panel-group {
    margin-bottom: 10px;
    margin-top: 10px;
}

.hotbtndynamic {
    background-color: #0c7abf;
    text-align: center;
}

    .hotbtndynamic:focus {
        opacity: .8;
    }

    .hotbtndynamic:hover {
        opacity: .8 !important;
    }

.coldbtndynamic {
    background: #737373 !important;
    text-align: center;
    margin-left: 5px !important;
}

    .coldbtndynamic:focus, .coldbtndynamic:hover {
        opacity: .8;
    }

.itemone {
    background-color: #59b1ff;
    width: 18px;
    height: 18px;
    font-size: 12px;
    z-index: 1;
    color: #fff;
    padding: 0 2px 0 0;
    border-radius: 50%;
    text-align: center;
    position: relative;
    top: -10px;
    float: right;
}

.commbox {
    font-size: 13px;
    margin-top: -6px;
    position: absolute;
    margin-left: 6px;
    color: #000;
}

.Pending {
width: 124px;
   height: 29px;
   padding-top: 14px;
   position: relative;
    background: #616161;
   color: #fff;
   margin: 1px;
   font-size: 1px;
   padding-right: 28px;
   text-align: right;
}

    .Pending:after, .Pending:before {
        position: absolute;
        width: 0;
    }

    .Pending:before {
      border-left: 14px solid #616161;
    left: 124px;
    top: 0px;
    }

    .Pending:after {
      left: 0;
        bottom: 0;
        height: 0;
border-left: 13px solid #fff;
    border-bottom: 13px solid transparent;
    }

@media(max-width:991px) {
    .approved, .para {
        color: #fff;
        text-align: right;
    }
}

.popover {
    font-size: 12px;
}

.popover-content {
    padding: 3px 6px;
    word-break: break-all;
    width: auto;
    overflow: hidden;
}

span.impStar {
    color: red;
}

.customErrorMessage {
    color: #cf4444;
    display: block;
}

.table-fixed {
    width: 100%;
    table-layout:fixed;
}

    .table-fixed tbody {
        max-height: 200px;
        overflow-y: auto;
        overflow: overlay;
         width: 100%;
         display:inline-block;
           
  max-width:512px;
  table-layout:fixed;
    }

    .table-fixed tbody, .table-fixed td, .table-fixed th, .table-fixed thead, .table-fixed tr {
        display: flow-root;
        min-height: 30px;
    }

        .table-fixed tbody td, .table-fixed thead tr th {
            float: left;
        }
table.table.table-bordered.firstble td {
    word-wrap: break-word;
    word-break: break-word;
       display: inline-block;
        min-height: 32px;
}

tr.tblrowcolor {
    word-break:break-all;
    word-wrap:break-word;
    display:flex;
}



.custinfo {
    font-size: 16px;
    position: relative;
    padding: 0px;
    vertical-align: top;
    top: 5px;
}
.custinfo:hover {
    color: #fff !important;
}


.btextDir-rtl #workflowoverlay #main .maincls .circle {
   margin-left: 27px !important;
}